# C/C++
# Compiled Object files
*.o
*.obj

# Executables
*.out
*.exe
a.out

# Libraries
*.lib
*.so
*.a

# Java
# Compiled class files
*.class

# Jar and war files
*.jar
*.war

# IDE and build tool files
.classpath
.project
.settings/
bin/
out/
target/

# Python
# Byte-compiled / optimized /
__pycache__/
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
venv/

# General IDE files
# Visual Studio Code
.vscode/

# JetBrains IDEs (IntelliJ, PyCharm, etc.)
.idea/
*.iml

# OS and temporary files
.DS_Store
Thumbs.db 
